/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

.sale{
    background-image: url('../img/catalog/bg_gradient.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    min-height: 400px;
    position: relative;
    z-index: 8;
}
.sale__content{
    text-align: center;
    max-width: 665px;
    padding-top: 105px;
    margin: 0 auto 120px;
}
.sale__title{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1.5px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 22px;
}
.sale__text{
    color: #000;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 45px;
}
.sale__btn .default-btn{
    color: #000;
}
/* ******************************************************************************************* */
/* *************************************   Search Line   ************************************* */
/* ******************************************************************************************* */
.search__line{
    padding: 40px 0px 0px;
}
.search-page {
    display: flex;
    position: relative;
    z-index: 10;
    align-items: center;
}
.search-page__select {
    cursor: pointer;
}
.search-page__title {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 12px 35px 12px 43px;
    position: relative;
}
.search-page__title span {
    color: #666666;
    font-weight: 300;
    border-bottom: 1px dashed;
}
.search-page__title span:last-child {
    display: none;
}
.search-page__title:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    background: url("../img/search-page/lupa.png") 0 0 no-repeat;
    width: 17px;
    height: 17px;
}
.search-page__title:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    background: url("../img/search-page/categories-arrow.png") 0 0 no-repeat;
    width: 10px;
    height: 10px;
    transition: all 0.5s ease 0s;
}
.search-page__title._active:after {
    transform: rotate(180deg);
    top: 35%;
}
.search-page__title._categories span {
    display: none;
}
.search-page__title._categories span:last-child {
    display: block;
}
.search-page__categories {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}
.search-page__input {
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    flex: 1 1 auto;
}
.search-page__input input {
    height: 37px;
    width: 100%;
    padding: 0px 20px;
    color: #666666;
}
.categories-search {
    background-color: #fff;
    border: 1px solid #f3f3f3;
    display: none;
}
.categories-search._active {
    display: block;
}
.categories-search::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #f68038;
}
.categories-search__row {
    display: flex;
}
.categories-search__column {
    flex: 0 1 33.333%;
    border-right: 1px solid #f3f3f3;
    padding: 27px 40px;
}
.categories-search__column:last-child {
    border: none;
}
.categories-search__list li {
    margin: 0px 0px 20px 0px;
}
.categories-search__list li:last-child {
    margin: 0;
}
.categories-search__link {
    color: #999999;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.3px;
}
.categories-search__link:hover {
    color: #f68038;
}
.categories-search__checkbox .checkbox__input:checked + .checkbox__text {
    color: #f68038;
}
.categories-search__checkbox .checkbox__text {
    color: #666;
}
.btn {
    display: inline-flex;
    padding: 0px 25px;
    height: 39px;
    background-color: #f68038;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    color: #fff;
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}
.btn:hover {
    background-color: #f79a60;
}
.checkbox {
    position: relative;
}
.checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}
.checkbox__text {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #fff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
    cursor: pointer;
}
/* ******************************************************************* */
/* ******************************  Products  ************************* */
/* ******************************************************************* */
.products{
    padding: 49px 0px;
}
.products__body{
    position: relative;
    max-width: 1100px;
    margin: 0px auto 50px;
}
.cart{
    position: fixed;
    z-index: 2;
    right: 70px;
    bottom: 50px;
    width: 55px;
    height: 55px;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
}
.cart__label{
    display: none;
    position: absolute;
    top: -5px;
    right: -20px;
    width: 40px;
    text-align: center;
    background-color: #ffc222;
    font-size: 16px;
    color: #000;
    padding: 2px 5px 2px 5px;
    border-radius: 24px;
    font-weight: 700;
}
.cart__info{
    color: rgb(88, 88, 88);
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.cart__info.active{
    visibility: visible;
    opacity: 1;
    top: -75%;
    left: -80%;
}
.cart__label.active{
    display: block;
}
.cart:hover{
    filter: brightness(105%);
    border: none;
}
.cart:after{
    content: "\f291";
    position: absolute;
    font-size: 26px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #fff;
}
.products__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -22.5px;
}
.products__column{
    flex: 0 1 33.333%;
    padding: 0px 22.5px;
    display: flex;
    margin-bottom: 30px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 375px;
    background-color: #eee;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 20px;
    overflow: hidden;
    color: #000;
    padding: 0px 0px 15px 0px;
    transition: all 0.5s ease 0s;
}
.item:hover{
    filter: brightness(105%);
}
.item-image{
    padding: 0px 0px 12px 0px;
}
.item-image img{
    overflow: hidden;
    max-width: 100%;
}
.item-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.item-text{
    font-size: 14px;
    line-height: 24px;
    padding: 10px 20px;
    flex: 1 1 auto;
    margin-bottom: 15px;
}
/* *************************************   MORE   ************************************* */
.more{
    user-select: none;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #000;
    cursor: pointer;
    margin-bottom: 10px;
}
.additional__text{
    display: none;
}
.additional__text.active{
    display: block;
}
/* ************************************************************************************* */
.product__price-old {
    width: 100%;
    padding: 0px 20px;
    text-align: right;
    font-size: 16px;
    color: rgb(155, 155, 155);
    text-decoration: line-through;
    margin-bottom: -6px;
}
.products__footer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0px 20px;
}
.product__add-btn {
    position: relative;
    flex: 0 1 50%;
    border: 2px solid #ffc222;
    border-radius: 24px;
    padding: 7px 10px 7px 30px;
    transition: all 0.5s ease 0s;
    color: #000;
}
.product__add-btn:before{
    content: "\f067";
    font-family: 'icomoon';
    position: absolute;
    left: 12px;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #ffc222;
}
.product__add-btn:hover {
    background-color: #ffc222;
}
.product__add-btn:hover.product__add-btn:before{
    color: #000;
}
.product__add-btn.bought{
    background-color: grey;
    border: #000;
    padding: 7px 0px;
}
.product__add-btn.bought:before{
    display: none;
}
.product__price {
    flex: 1 0 50%;
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
}
/* ****************************************   Cart   ***************************************** */














